
/***********navbar*************/
/******************************/
.navbar-nav a{
	color: #322F2E!important;
}
/*******Background-images******/
/******************************/
.container p{
	text-align: center;
	color: black;
}