@import url('bootstrap.css');

/***********navbar*************/
/******************************/
.navbar-nav a{
	color: #C5E8EA!important;
}
.navbar-nav i{
	color: #0F6896!important;
}
/**************headers***********/
h2{
	text-align: center!important;
	font-size: 35px!important;
}
/*******Background-images******/
/******************************/
body{
	padding: 0!important;
	margin: 0!important;
	font-family: Arial, "Helvetica Neue", Helvetica
	, sans-serif!important;
	line-height: 1.6!important;
	/*background-color: rgba(0,0,0,0.5)!important;*/
	
}
.sanii{
	background-image: url('../images/baked-beer-cheese-724216 (1).jpg');
	background-size: cover!important;
	background-attachment: fixed!important;
	background-position: center!important;
	background-repeat: no-repeat!important;
	height: 100vh!important;
}
/********meadia query******/
/**************************/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navabar, .jumbotron{
    display: block!important;
    float: none!important;
  }
}
/***********CARD**********/
/*************************/
.card {
    width: 100%!important;
    min-height: 460px!important;
    margin: auto!important;
    box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6)!important;
    background:whitesmoke!important;
    border-radius: 12px!important;
    max-width: 700px!important;
    position: relative!important;
  
  }
  /***************contact**************/
  .container{
  	 border-radius: 5px!important;
  background-color: #f2f2f2!important;
  }
  .container #form span{
    color:red
  }
  /**************CHECKBOX*************/
  /***********************************/
  .float-right{
  	color: #949494!important;
  }