
/***********navbar*************/
/******************************/
.navbar-nav a{
	color: #322F2E!important;
}
/*******Background-images******/
/******************************/
.container p{
	text-align: center;
	color: black;
}
/********meadia query******/
/**************************/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navabar, .jumbotron{
    display: block!important;
    float: none!important;
  }
}